<p-panel >
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{ produkt.name }}</span>
      <button class="align_right" pButton type="button" [label]="warenkorbLabel" (click)="onAddToWarenkorb($event)"></button>
      <input class="align_right amountInput v-align" type="text" pInputText [(ngModel)]="amount"/>
      <span class="align_right v-align">Menge: </span>
    </div>
  </p-header>
  <p><b>Beschreibung:</b></p>
  <p>{{ produkt.beschreibung }}</p>
  <div class="ui-g">
    <div class="ui-g-8">
        <b>Lagerbestand:</b> {{ produkt.lagerbestand }}
    </div>
    <div class="ui-g-4">
        <b>Preis:</b> {{ produkt.preis }}
    </div>
  </div>
</p-panel>
