<div class="redirectArea" (click)="redirectToWarenkorb($event)">
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Warenkorb Service</span>
      <!-- <button class="align_right" pButton type="button" [label]="warenkorbLabel" (click)="onWarenkorbToggle($event)"></button> -->
    </div>
  </p-header>
  <p><b>Anzahl Waren: </b> {{ warenAnzahl }} </p>
  <p><b>Gesamt Summe: </b> {{ gesamtPreis | number:'1.2-2' }} €</p>
  <p>(zzgl. MwSt und Versandkosten)</p>
  <br>
  <button pButton type="button" [label]="warenkorbLabel" (click)="onGoToWarenkorb($event)"></button>
</p-panel>
</div>

