<div class="redirectArea" (click)="redirectToZahlung($event)">
  <p-panel>
    <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Zahlung Service</span>
      </div>
    </p-header>
    <p><b>Getätigte Zahlungen:</b> {{ anzahlZahlungen }}</p>
    <p><b>Davon storniert:</b> {{ anzahlStornierungen }}</p>
    <br>
    <button pButton type="button" [label]="zahlungLabel" (click)="onGoToZahlung($event)"></button>
  </p-panel>
  </div>

