<div class="redirectArea" (click)="redirectToHome($event)">
  <p-card>
      <h1>Microservice Test App</h1>
  </p-card>
</div>
<div class="pageBody">
  <router-outlet></router-outlet>
</div>
<p-messages></p-messages>
