<div class="redirectArea" (click)="onGoToBestellung($event)">
  <p-panel>
    <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Bestellung Service</span>
        <!-- <button class="align_right" pButton type="button" [label]="warenkorbLabel" (click)="onWarenkorbToggle($event)"></button> -->
      </div>
    </p-header>
    <p><b>Bestellungen: </b> {{ bestellungenAnzahl }} </p>
    <p><b>Artikel insgesamt: </b> {{ bestellungenArtikelAnzahl }}</p>
    <p><b>Gesamtpreis: </b> {{ bestellungenGesamtsumme | number:'1.2-2' }} €</p>
    <br>
    <button pButton type="button" [label]="bestellungLabel" (click)="onGoToBestellung($event)"></button>
  </p-panel>
</div>

