<p-accordion>
  <p-accordionTab header="Zahlung Service" [selected]="true">
      <div class="ui-g">
          <div class="ui-g-3"><b>Getätigte Zahlungen:</b></div>
          <br>
      </div>
      <div *ngIf="!!zahlungen">
        <div class="ui-g clickable" *ngFor="let zahlung of zahlungen; index as i" (click)="onGoToBestellung(zahlung.referenzId)">
            <div class="ui-g-1">
              <b>{{ i + 1 }}.Zahlung:</b>
            </div>
            <div class="ui-g-1"><span class="align_right">{{ zahlung.zahlungssumme | number:'1.2-2' }} €</span></div>
            <div class="ui-g-1"><span class="align_right"><b>Konto:</b></span></div>
            <div class="ui-g-3">{{ zahlung.zahlungsinformation.iban }} ({{ zahlung.zahlungsinformation.kontoinhaber }})</div>
            <div class="ui-g-1"><span class="align_right"><b>Datum:</b></span></div>
            <div class="ui-g-2">{{ zahlung.bezahltTimestamp }}</div>
            <div class="ui-g-1" *ngIf="!!zahlung.storniertTimestamp"><span class="align_right"><b>Storniert:</b></span></div>
            <div class="ui-g-2" *ngIf="!!zahlung.storniertTimestamp">{{ zahlung.storniertTimestamp }}</div>


            <!-- <div class="ui-g-1">
                <button pButton class="ui-button-danger marginLeft vAlign" type="button" icon="pi pi-trash" iconPos="left" (click)="onLoeschen(ware)"></button>
            </div>
            <div class="ui-g-1"><span class="align_right"><b>Einzelpreis:</b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ ware.preis | number:'1.2-2' }} €</span></div>
            <div class="ui-g-3"><span class="align_right"><b>Menge:</b></span></div>
            <div class="ui-g-2">
              <input class="amountInput vAlign" type="text" pInputText [(ngModel)]="ware.menge"/>
              <button class="inlineButton vAlign" pButton type="button" [label]="mengeAendernLabel" (click)="onMengeAendern(ware)"></button>
            </div>
            <div class="ui-g-1"><span class="align_right"><b>Gesamtpreis:</b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ ware.gesamtPreis | number:'1.2-2' }} €</span></div>
            <br> -->
        </div>
      </div>
  </p-accordionTab>
</p-accordion>
<button class="align_left button-margin" pButton type="button" [label]="zurueckLabel" (click)="onZurueck($event)"></button>


