.button-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clickable {
  cursor: pointer;
  padding-top: 5px;
  padding-right: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.clickable:hover {
  background-color: 	#D3D3D3;
}
