<p-accordion>
    <p-accordionTab header="Bestellung Service" [selected]="true">
      <p-panel>
        <p-header>Anschrift</p-header>
        <div class="ui-g">
          <div class="ui-g-2 margin"><span class="align_right"><b>Vorname:</b></span></div>
          <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.anschrift.vorname"/></div>
          <div class="ui-g-2 margin"><span class="align_right"><b>Nachname:</b></span></div>
          <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.anschrift.nachname"/></div>
          <div class="ui-g-2 margin"><span class="align_right"><b>Straße:</b></span></div>
          <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.anschrift.strasse"/></div>
          <div class="ui-g-2 margin"><span class="align_right"><b>Hausnummer:</b></span></div>
          <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.anschrift.hausnummer"/></div>
          <div class="ui-g-2 margin"><span class="align_right"><b>Postleitzahl:</b></span></div>
          <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.anschrift.plz"/></div>
          <div class="ui-g-2 margin"><span class="align_right"><b>Ort:</b></span></div>
          <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.anschrift.ort"/></div>
        </div>
      </p-panel>
      <p-panel>
        <p-header>Zahlungsinformation</p-header>
        <div class="ui-g">
            <div class="ui-g-2 margin"><span class="align_right"><b>IBAN:</b></span></div>
            <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.zahlungsinformation.iban"/></div>
            <div class="ui-g-2 margin"><span class="align_right"><b>BIC:</b></span></div>
            <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.zahlungsinformation.bic"/></div>
            <div class="ui-g-2 margin"><span class="align_right"><b>Kontoinhaber:</b></span></div>
            <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.zahlungsinformation.kontoinhaber"/></div>
            <div class="ui-g-2 margin"><span class="align_right"><b>Bank:</b></span></div>
            <div class="ui-g-4 margin"><input type="text" pInputText [(ngModel)]="bestellung.zahlungsinformation.bank"/></div>
          </div>
      </p-panel>
      <p-panel>
        <p-header>
          Zu bestellende Artikel
        </p-header>
        <p>Folgende Artikel sind in der Bestellung enthalten:</p>
        <br>
        <div class="ui-g" *ngFor="let artik of artikel; index as i">
            <div class="ui-g-2">
              <b>{{ i + 1 }}.&nbsp;&nbsp;&nbsp;&nbsp;{{ artik.name }}</b>
            </div>
            <div class="ui-g-2"><span class="align_right"><b>Einzelpreis:</b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ artik.einzelpreis | number:'1.2-2' }} €</span></div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1"><span class="align_right"><b>Menge:&nbsp;&nbsp;&nbsp;</b></span></div>
            <div class="ui-g-1">{{ artik.menge }}</div>
            <div class="ui-g-2"><span class="align_right"><b>Gesamtpreis:</b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ artik.gesamtpreis | number:'1.2-2' }} €</span></div>
        </div>
      </p-panel>
      <p-panel>
        <p-header>
          Abrechnung
        </p-header>
        Die Bestellung wird wie folgt abgerechnet:
        <br>
        <div class="ui-g" *ngIf="!!bestellung">
            <div class="ui-g-7"></div>
            <div class="ui-g-3"><span class="align_right"><b>Summe aller Artikel: </b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ bestellung.artikelSumme | number: '1.2-2' }} €</span></div>
            <div class="ui-g-1"></div>

            <div class="ui-g-7"></div>
            <div class="ui-g-3"><span class="align_right"><b>+ MwSt. (19 %): </b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ bestellung.mwst | number: '1.2-2' }} €</span></div>
            <div class="ui-g-1"></div>

            <div class="ui-g-7"></div>
            <div class="ui-g-3"><span class="align_right"><b>+ Versandkosten: </b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ bestellung.versandkosten | number: '1.2-2' }} €</span></div>
            <div class="ui-g-1"></div>

            <div class="ui-g-7"></div>
            <div class="ui-g-3"><span class="align_right"><b>= Gesamtsumme: </b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ bestellung.gesamtsumme | number: '1.2-2' }} €</span></div>
          </div>
      </p-panel>
    </p-accordionTab>
  </p-accordion>
  <div *ngIf="!readOnly">
      <button class="align_right button-margin" pButton type="button" [label]="bestellenLabel" (click)="onBestellen($event)"></button>
      <button class="align_left button-margin" pButton type="button" [label]="abbrechenLabel" (click)="onAbbrechen($event)"></button>
  </div>
  <div *ngIf="readOnly">
      <button class="align_left button-margin" pButton type="button" [label]="zurueckLabel" (click)="onZurueck($event)"></button>
  </div>
