<p-accordion>
  <p-accordionTab header="Produkt Service" [selected]="true">
    <div *ngIf="!produkte">Keine Produkte vorhanden!</div>
    <produkt *ngFor="let produkt of produkte" [produkt]="produkt"></produkt>
  </p-accordionTab>
</p-accordion>
