<p-accordion>
  <p-accordionTab header="Warenkorb Service" [selected]="true">
      <div class="ui-g">
          <div class="ui-g-3"><b>Waren im Warenkorb:</b></div>
          <br>
      </div>
      <div *ngIf="!!warenkorb">
        <div class="ui-g" *ngFor="let ware of warenkorb.waren; index as i">
            <div class="ui-g-2">
              <b>{{ i + 1 }}. {{ ware.name }}</b>
            </div>
            <div class="ui-g-1">
                <button pButton class="ui-button-danger marginLeft vAlign" type="button" icon="pi pi-trash" iconPos="left" (click)="onLoeschen(ware)"></button>
            </div>
            <div class="ui-g-1"><span class="align_right"><b>Einzelpreis:</b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ ware.preis | number:'1.2-2' }} €</span></div>
            <div class="ui-g-3"><span class="align_right"><b>Menge:</b></span></div>
            <div class="ui-g-2">
              <input class="amountInput vAlign" type="text" pInputText [(ngModel)]="ware.menge"/>
              <button class="inlineButton vAlign" pButton type="button" [label]="mengeAendernLabel" (click)="onMengeAendern(ware)"></button>
            </div>
            <div class="ui-g-1"><span class="align_right"><b>Gesamtpreis:</b></span></div>
            <div class="ui-g-1"><span class="align_right">{{ ware.gesamtPreis | number:'1.2-2' }} €</span></div>
            <br>
        </div>
        <hr>
        <div class="ui-g">
          <div class="ui-g-5"></div>
          <div class="ui-g-3"><span class="align_right"><b>Gesamtmenge:</b> </span></div>
          <div class="ui-g-1">{{ warenkorb.warenAnzahl }}</div>
          <div class="ui-g-2"><span class="align_right"><b>Gesamtsumme:</b> </span></div>
          <div class="ui-g-1"><span class="align_right">{{ warenkorb.gesamtPreis | number:'1.2-2' }} €</span></div>
          <div class="ui-g-12"><span class="align_right">(zzgl. MwSt und Versandkosten)</span></div>
        </div>
      </div>
  </p-accordionTab>
</p-accordion>
<button *ngIf="showBestellungButton()" class="align_right margin" pButton type="button" [label]="bestellenLabel" (click)="onBestellen($event)"></button>
<button class="align_left button-margin" pButton type="button" [label]="zurueckLabel" (click)="onZurueck($event)"></button>


