// component css goes here
hr{
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.margin{
  margin-right: 10px;
  margin-top: 10px;
}

.inlineButton{
  display: inline;
}

.vAlign {
  position: relative;
  top: -8px;
}

.marginLeft{
  margin-left: 5px;
}

.button-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
