/* You can add global styles to this file, and also import other style files */
.ui-card-body {
  background-color: #333333;
  color: #ffffff;
}

.ui-card{
  margin-bottom: 0.5em;
}

.ui-g .ui-g-9 {
  padding-top: 0em;
  padding-left: 0em;
}

.ui-g .ui-g-3 {
  padding-top: 0em;
  padding-right: 0em;
}

.ui-g .ui-g-2 {
  padding-top: 0em;
  padding-right: 0em;
}

.ui-g .ui-g-6 {
  padding-top: 0em;
  padding-right: 0em;
}

.ui-g .ui-g-4 {
  padding-top: 0em;
  padding-right: 0em;
}

.ui-g .ui-g-8 {
  padding-top: 0em;
  padding-left: 0em;
  padding-right: 0em;
}

.ui-g .ui-g-1 {
  padding-top: 0em;
  padding-right: 0em;
}

.redirectArea{
  cursor: pointer;
}

.align_right{
  float: right;
}


.amountInput{
  width: 1.5em;
  margin-left: 0.2em;
  margin-right: 1em;
}

.button-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
