<div class="ui-g">
  <div class="ui-g-9">
    <produkt-liste></produkt-liste>
  </div>
  <div class="ui-g-3">
    <warenkorb-summary></warenkorb-summary>
    <br>
    <bestellung-summary></bestellung-summary>
    <br>
    <zahlung-summary></zahlung-summary>
  </div>
</div>
