<p-accordion>
    <p-accordionTab header="Bestellung Service" [selected]="true">
      <p>Laufende Bestellungen:</p>
      <br>
      <div *ngIf="!!bestellungen">
        <div class="ui-g clickable" *ngFor="let bestellung of bestellungen; index as i" (click)="onGoToBestellung(bestellung.id)">
                <div class="ui-g-2">
                  <b>{{ i + 1 }}.Bestellung</b>
                </div>
                <div class="ui-g-2" *ngIf="isBestellt(bestellung)">
                    <button pButton class="ui-button-danger marginLeft vAlign" type="button" icon="pi pi-trash" iconPos="left" (click)="$event.stopPropagation(); onLoeschen(bestellung)"></button>
                </div>
                <div class="ui-g-2" *ngIf="!isBestellt(bestellung)">
                  <b>{{ getStatus(bestellung) }}</b>
                </div>
                <div class="ui-g-1"><span class="align_right"><b>Gesamtsumme:</b></span></div>
                <div class="ui-g-1"><span class="align_right">{{ bestellung.gesamtsumme | number:'1.2-2' }} €</span></div>
                <div class="ui-g-2"><span class="align_right"><b>Anzahl Artikel:</b></span></div>
                <div class="ui-g-1">
                  <span class="align_right">{{ getAnzahlArtikelProBestellung(bestellung) }}</span>
                </div>
                <div class="ui-g-1"><span class="align_right"><b>Datum:</b>&nbsp;&nbsp;</span></div>
                <div class="ui-g-2">{{ bestellung.bestellDatum }}</div>
                <br>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <button class="align_left button-margin" pButton type="button" [label]="zurueckLabel" (click)="onZurueck($event)"></button>
